<!DOCTYPE html>
<html lang="en">
<table th:fragment="table(members)" class="table text-center">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nombre</th>
    <th scope="col">Socio desde</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Acciones</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="member : ${members}">
    <th scope="row" th:text="${member.memberId}"></th>
    <td th:text="${member.getFirstName()} + ' ' + ${member.getLastName()}"></td>
    <td th:text="${member.getSignUpDate()}"></td>
    <td th:text="${member.getPhone()}"></td>
    <td class="text-center">
      <div class="btn-group" role="group">
        <a th:href="@{/socios/ver/{id}(id=${member.id})}" class="btn btn-sm btn-outline-secondary">
          <i class="fas fa-eye"></i>
        </a>
        <a th:href="@{/socios/editar/{id}(id=${member.id})}" class="btn btn-sm btn-outline-primary">
          <i class="fas fa-edit"></i>
        </a>
        <a th:href="@{/socios/eliminar/{id}(id = ${member.id})}" class="btn btn-sm btn-outline-danger">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
</table>
</html>