body {
    background-image: url("../image/LV-ELW.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position-y: -20px;
}

.navbar-brand{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.navbar-logo-large {
    width: 80px;
    height: auto;
    transition: transform 0.3s ease;
    /* Combine filters here: brightness/invert for color, then drop-shadow for depth */
    filter: brightness(0) invert(1) drop-shadow(0px 4px 8px rgba(0,0,0,0.4));
}

/* Optional: Slight grow on hover */
.navbar-brand:hover .navbar-logo-large {
    transform: scale(1.1);
}

/* Adjust the brand text below the logo */
.navbar-brand span {
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
}

.input-group-text {
    width: 200px;
}