<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/main.html}">
<body>
    <div layout:fragment="content" class="container">
        <form th:action="@{/vuelos/nuevo}" th:object="${flight}" method="post" class="card p-4 bg-dark text-white">
            <div class="row g-3">

                <div class="col-md-4">
                    <label class="form-label">Aeronave</label>
                    <select th:field="*{aircraftId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="aircraft : ${aircrafts}" th:value="${aircraft.id}" th:text="${aircraft.registration}"></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Finalidad del vuelo</label>
                    <select th:field="*{flightTypeId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="type : ${flightTypes}" th:value="${type.id}" th:text="${type.name}"></option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Piloto</label>
                    <select th:field="*{pilotInCommandId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="pilot : ${pilots}" th:value="${pilot.id}" th:text="${pilot.fullName}"></option>
                    </select>
                </div>


            </div>

            <div class="row g-3 mt-1">

                <div class="col-md-6">
                    <label class="form-label">Instrutor</label>
                    <select th:field="*{instructorId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="instructor : ${instructors}" th:value="${instructor.id}" th:text="${instructor.fullName}"></option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Remolcador</label>
                    <select th:field="*{towAirplaneId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="aircraft : ${aircrafts}" th:value="${aircraft.id}" th:text="${aircraft.registration}"></option>
                    </select>
                </div>

            </div>


            <div class="row mt-1">

                <div class="col-md-6">
                    <label class="form-label">Salida</label>
                    <select th:field="*{departureId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="aerodrome : ${aerodromes}" th:value="${aerodrome.id}" th:text="${aerodrome.name}"></option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Inicio (UTC-3)</label>
                    <input type="datetime-local" th:field="*{startTime}" class="form-control bg-secondary text-white border-0">
                </div>

            </div>


            <div class="row mt-1">

                <div class="col-md-6">
                    <label class="form-label">Destino</label>
                    <select th:field="*{destinationId}" class="form-select bg-secondary text-white border-0">
                        <option value="">Seleccionar...</option>
                        <option th:each="aerodrome : ${aerodromes}" th:value="${aerodrome.id}" th:text="${aerodrome.name}"></option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Final (UTC-3)</label>
                    <input type="datetime-local" th:field="*{stopTime}" class="form-control bg-secondary text-white border-0">
                </div>

            </div>

            <div class="row mt-1">
                <div class="col-12 mt-4">
                    <button type="submit" class="btn btn-primary w-100">Registrar Vuelo</button>
                </div>
            </div>
        </form>
        <script th:src="@{/script/script.js}" type="text/javascript"></script>
    </div>
</body>
</html>