<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/main}">
<div layout:fragment="content" class="container mt-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-dark text-white p-1" style="--bs-bg-opacity: .8;">
                <div class="card-body text-center">
                    <h3 class="card-title" th:text="${profile.name}">Nombre Apellido</h3>
                    <p class="mb-1">Socio #<span th:text="${profile.memberId}">1001</span></p>
                    <p class="mb-3" th:text="${profile.email}">correo@ejemplo.com</p>

                    <hr class="border-light">

                    <h5>Roles Activos</h5>
                    <div class="d-flex flex-wrap justify-content-center gap-2 mt-3">
                        <span class="badge bg-primary" th:each="role : ${profile.activeRoles}" th:text="${role.role.name}">PILOTO</span>
                    </div>
                    <div class="d-flex flex-wrap justify-content-center gap-2 mt-3">
                        <span class="badge bg-primary" th:each="medicalIssuance : ${profile.medicalIssuances}"
                              th:text="${medicalIssuance.qualification.name}">PILOTO</span>
                    </div>

                </div>
            </div>

            <div class="card bg-dark text-white p-1 mt-3" style="--bs-bg-opacity: .8;">
                <div class="card-body">
                    <h5 class="card-title border-bottom border-secondary pb-2">Licencias</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent text-white d-flex justify-content-between align-items-center border-secondary px-0"
                            th:each="issuance : ${profile.licesesIssuances}">
                            <div>
                                <strong th:text="${issuance.qualification.name}">PCA</strong>
                            </div>
                        </li>
                    </ul>

                    <h5 class="card-title border-bottom border-secondary pb-2 mt-3">Habilitaciones</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent text-white d-flex justify-content-between align-items-center border-secondary px-0"
                            th:each="issuance : ${profile.ratingsIssuances}">
                            <div>
                                <strong th:text="${issuance.qualification.name}">PCA</strong>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card bg-dark text-white p-1" style="--bs-bg-opacity: .8;">
                <div class="card-body">
                    <h4 class="card-title border-bottom border-secondary pb-2">Resumen de Vuelos</h4>

                    <table class="table mt-3">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Inicio (UTC)</th>
                                <th scope="col">Salida (UTC)</th>
                                <th scope="col">Destino</th>
                                <th scope="col">Final</th>
                                <th scope="col">Duración</th>
                                <th scope="col">Aeronave</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="flight, flightStat : ${profile.flights}">
                                <td th:text="${flightStat.index}"></td>
                                <td th:text="${flight.startTime}"></td>
                                <td th:text="${flight.departureCode}"></td>
                                <td th:text="${flight.destinationCode}"></td>
                                <td th:text="${flight.stopTime}"></td>
                                <td th:text="${flight.duration}"></td>
                                <td th:text="${flight.aircraftReg}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
